<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.NewProductBaseDAO">
    <resultMap id="BaseResultMap" type="com.platform.entity.NewProductBase">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="item_no" property="itemNo" jdbcType="VARCHAR"/>
        <result column="main_code" property="mainCode" jdbcType="VARCHAR"/>
        <result column="other" property="other" jdbcType="VARCHAR"/>
        <result column="putaway_type" property="putawayType" jdbcType="VARCHAR"/>
        <result column="picture" property="picture" jdbcType="VARCHAR"/>
        <result column="classify" property="classify" jdbcType="VARCHAR"/>
        <result column="color" property="color" jdbcType="VARCHAR"/>
        <result column="shop" property="shop" jdbcType="VARCHAR"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="sell_price" property="sellPrice" jdbcType="DECIMAL"/>
        <result column="product_size" property="productSize" jdbcType="VARCHAR"/>
        <result column="barcode_one" property="barcodeOne" jdbcType="VARCHAR"/>
        <result column="barcode_two" property="barcodeTwo" jdbcType="VARCHAR"/>
        <result column="barcode_three" property="barcodeThree" jdbcType="VARCHAR"/>
        <result column="barcode_four" property="barcodeFour" jdbcType="VARCHAR"/>
        <result column="barcode_five" property="barcodeFive" jdbcType="VARCHAR"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="same_link" property="sameLink" jdbcType="VARCHAR"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--基础列 -->
    <sql id="Base_Column_List">
		id,
		user_id,
		item_no,
		main_code ,
		other ,
		putaway_type ,
		picture ,
		classify ,
		color ,
		shop ,
		model ,
		sell_price ,
        product_size ,
		barcode_one ,
		barcode_two ,
		barcode_three ,
		barcode_four ,
		barcode_five ,
		link ,
		remark ,
		same_link ,
		creater ,
		updater ,
		update_time,
		create_time
	</sql>

    <sql id="Base_Column_ListOne">
		user_id,
		item_no,
		main_code ,
		other ,
		putaway_type ,
		picture ,
		classify ,
		color ,
		shop ,
		model ,
		sell_price ,
        product_size ,
		barcode_one ,
		barcode_two ,
		barcode_three ,
		barcode_four ,
		barcode_five ,
		link ,
		remark ,
		same_link ,
		creater ,
		updater ,
		create_time
	</sql>

    <!--公共按主键进行查询 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from new_product_base where id = #{id,jdbcType=INTEGER}
    </select>


    <!--公共列表方法 -->
    <select id="list" resultMap="BaseResultMap" parameterType="com.platform.entity.NewProductBase">
        select
        <include refid="Base_Column_List"/>
        from new_product_base
        <where>
            <if test="id!=null">id=#{id,jdbcType=INTEGER}</if>
            <if test="userId!=null">and user_id=#{userId,jdbcType=INTEGER}</if>
            <if test="itemNo!=null">and item_no=#{itemNo,jdbcType=VARCHAR}</if>
            <if test="mainCode!=null">and main_code=#{mainCode,jdbcType=VARCHAR}</if>
            <if test="other!=null">and other=#{other,jdbcType=VARCHAR}</if>
            <if test="putawayType!=null">and putaway_type=#{putawayType,jdbcType=VARCHAR}</if>
            <if test="picture!=null">and picture=#{picture,jdbcType=VARCHAR}</if>
            <if test="classify!=null">and classify=#{classify,jdbcType=VARCHAR}</if>
            <if test="color!=null">and color=#{color,jdbcType=VARCHAR}</if>
            <if test="shop!=null">and shop=#{shop,jdbcType=VARCHAR}</if>
            <if test="model!=null">and model=#{model,jdbcType=VARCHAR}</if>
            <if test="sellPrice!=null">and sell_price=#{sellPrice,jdbcType=DECIMAL}</if>
            <if test="size!=null">and size=#{product_size,jdbcType=VARCHAR}</if>
            <if test="barcodeOne!=null">and barcode_one=#{barcodeOne,jdbcType=INTEGER}</if>
            <if test="barcodeTwo!=null">and barcode_two=#{barcodeTwo,jdbcType=VARCHAR}</if>
            <if test="barcodeThree!=null">and barcode_three=#{barcodeThree,jdbcType=VARCHAR}
            </if>
            <if test="barcodeFour!=null">and barcode_four=#{barcodeFour,jdbcType=VARCHAR}</if>
            <if test="barcodeFive!=null">and barcode_five=#{barcodeFive,jdbcType=VARCHAR}</if>
            <if test="link!=null">and link=#{link,jdbcType=VARCHAR}</if>
            <if test="remark!=null">and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="sameLink!=null">and same_link=#{sameLink,jdbcType=VARCHAR}</if>
            <if test="creater!=null">and creater=#{creater,jdbcType=VARCHAR}</if>
            <if test="updater!=null">and updater=#{updater,jdbcType=VARCHAR}</if>
            <if test="createTime!=null ">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="updateTime!=null ">and update_time=#{updateTime,jdbcType=TIMESTAMP}</if>
        </where>
    </select>


    <delete id="delete" parameterType="com.platform.entity.NewProductBase">
        delete from new_product_base
        <where>
            <if test="id!=null">id=#{id,jdbcType=INTEGER}</if>
            <if test="userId!=null">and user_id=#{userId,jdbcType=INTEGER}</if>
            <if test="itemNo!=null">and item_no=#{itemNo,jdbcType=VARCHAR}</if>
            <if test="mainCode!=null">and main_code=#{mainCode,jdbcType=VARCHAR}</if>
            <if test="other!=null">and other=#{other,jdbcType=VARCHAR}</if>
            <if test="putawayType!=null">and putaway_type=#{putawayType,jdbcType=VARCHAR}</if>
            <if test="picture!=null">and picture=#{picture,jdbcType=VARCHAR}</if>
            <if test="classify!=null">and classify=#{classify,jdbcType=VARCHAR}</if>
            <if test="color!=null">and color=#{color,jdbcType=VARCHAR}</if>
            <if test="shop!=null">and shop=#{shop,jdbcType=VARCHAR}</if>
            <if test="model!=null">and model=#{model,jdbcType=VARCHAR}</if>
            <if test="sellPrice!=null">and sell_price=#{sellPrice,jdbcType=DECIMAL}</if>
            <if test="size!=null">and size=#{product_size,jdbcType=VARCHAR}</if>
            <if test="barcodeOne!=null">and barcode_one=#{barcodeOne,jdbcType=INTEGER}</if>
            <if test="barcodeTwo!=null">and barcode_two=#{barcodeTwo,jdbcType=VARCHAR}</if>
            <if test="barcodeThree!=null">and barcode_three=#{barcodeThree,jdbcType=VARCHAR}
            </if>
            <if test="barcodeFour!=null">and barcode_four=#{barcodeFour,jdbcType=VARCHAR}</if>
            <if test="barcodeFive!=null">and barcode_five=#{barcodeFive,jdbcType=VARCHAR}</if>
            <if test="link!=null">and link=#{link,jdbcType=VARCHAR}</if>
            <if test="remark!=null">and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="sameLink!=null">and same_link=#{sameLink,jdbcType=VARCHAR}</if>
            <if test="creater!=null">and creater=#{creater,jdbcType=VARCHAR}</if>
            <if test="updater!=null">and updater=#{updater,jdbcType=VARCHAR}</if>
            <if test="createTime!=null ">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="updateTime!=null ">and update_time=#{updateTime,jdbcType=TIMESTAMP}</if>
        </where>
    </delete>

    <!--公共get方法 -->
    <select id="get" resultMap="BaseResultMap" parameterType="com.platform.entity.NewProductBase">
        select
        <include refid="Base_Column_List"/>
        from new_product_base
        <where>
            <if test="id!=null">id=#{id,jdbcType=INTEGER}</if>
            <if test="userId!=null">and user_id=#{userId,jdbcType=INTEGER}</if>
            <if test="itemNo!=null">and item_no=#{itemNo,jdbcType=VARCHAR}</if>
            <if test="mainCode!=null">and main_code=#{mainCode,jdbcType=VARCHAR}</if>
            <if test="other!=null">and other=#{other,jdbcType=VARCHAR}</if>
            <if test="putawayType!=null">and putaway_type=#{putawayType,jdbcType=VARCHAR}</if>
            <if test="picture!=null">and picture=#{picture,jdbcType=VARCHAR}</if>
            <if test="classify!=null">and classify=#{classify,jdbcType=VARCHAR}</if>
            <if test="color!=null">and color=#{color,jdbcType=VARCHAR}</if>
            <if test="shop!=null">and shop=#{shop,jdbcType=VARCHAR}</if>
            <if test="model!=null">and model=#{model,jdbcType=VARCHAR}</if>
            <if test="sellPrice!=null">and sell_price=#{sellPrice,jdbcType=DECIMAL}</if>
            <if test="size!=null">and size=#{product_size,jdbcType=VARCHAR}</if>
            <if test="barcodeOne!=null">and barcode_one=#{barcodeOne,jdbcType=INTEGER}</if>
            <if test="barcodeTwo!=null">and barcode_two=#{barcodeTwo,jdbcType=VARCHAR}</if>
            <if test="barcodeThree!=null">and barcode_three=#{barcodeThree,jdbcType=VARCHAR}
            </if>
            <if test="barcodeFour!=null">and barcode_four=#{barcodeFour,jdbcType=VARCHAR}</if>
            <if test="barcodeFive!=null">and barcode_five=#{barcodeFive,jdbcType=VARCHAR}</if>
            <if test="link!=null">and link=#{link,jdbcType=VARCHAR}</if>
            <if test="remark!=null">and remark=#{remark,jdbcType=VARCHAR}</if>
            <if test="sameLink!=null">and same_link=#{sameLink,jdbcType=VARCHAR}</if>
            <if test="creater!=null">and creater=#{creater,jdbcType=VARCHAR}</if>
            <if test="updater!=null">and updater=#{updater,jdbcType=VARCHAR}</if>
            <if test="createTime!=null ">and create_time=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="updateTime!=null ">and update_time=#{updateTime,jdbcType=TIMESTAMP}</if>
        </where>
    </select>


    <!--公共按主键更新数据 -->
    <update id="updateById" parameterType="com.platform.entity.NewProductBase">
		update new_product_base
		set
		user_id=#{userId,jdbcType=INTEGER},
        item_no=#{itemNo,jdbcType=VARCHAR},
		main_code=#{mainCode,jdbcType=VARCHAR},
		other=#{other,jdbcType=VARCHAR},
		putaway_type=#{putawayType,jdbcType=VARCHAR},
		picture=#{picture,jdbcType=VARCHAR},
		classify=#{classify,jdbcType=VARCHAR},
		color=#{color,jdbcType=VARCHAR},
		shop=#{shop,jdbcType=VARCHAR},
		model=#{model,jdbcType=VARCHAR},
		sell_price=#{sellPrice,jdbcType=DECIMAL},
		size=#{product_size,jdbcType=VARCHAR},
		barcode_one=#{barcodeOne,jdbcType=INTEGER},
		barcode_two=#{barcodeTwo,jdbcType=VARCHAR},
		barcode_three=#{barcodeThree,jdbcType=VARCHAR},
		barcode_four=#{barcodeFour,jdbcType=VARCHAR},
		barcode_five=#{barcodeFive,jdbcType=VARCHAR},
		link=#{link,jdbcType=VARCHAR},
		remark=#{remark,jdbcType=VARCHAR},
		same_link=#{sameLink,jdbcType=VARCHAR},
		creater=#{creater,jdbcType=VARCHAR},
		updater=#{updater,jdbcType=VARCHAR},
		update_time=now()
		where id = #{id,jdbcType=INTEGER}
	</update>


    <!--公共保存方法 -->
    <insert id="save" parameterType="com.platform.entity.NewProductBase">
        insert into new_product_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" userId!= null">user_id,</if>
            <if test=" itemNo!= null">item_no,</if>
            <if test=" mainCode!= null">main_code,</if>
            <if test=" other!= null">other,</if>
            <if test=" putawayType!= null">putaway_type,</if>
            <if test=" picture!= null">picture,</if>
            <if test=" classify!= null">classify,</if>
            <if test=" color!= null">color,</if>
            <if test=" shop!= null">shop,</if>
            <if test=" model!= null">model,</if>
            <if test=" sellPrice!= null">sell_price,</if>
            <if test=" productSize!= null">product_size,</if>
            <if test=" barcodeOne!= null">barcode_one,</if>
            <if test=" barcodeTwo!= null">barcode_two,</if>
            <if test=" barcodeThree!= null">barcode_three,</if>
            <if test=" barcodeFour!= null">barcode_four,</if>
            <if test=" barcodeFive!= null">barcode_five,</if>
            <if test=" link!= null">link,</if>
            <if test=" remark!= null">mark,</if>
            <if test=" sameLink!= null">same_link,</if>
            <if test=" creater!= null">creater,</if>
            <if test=" updater!= null">updater,</if>
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" userId!= null">#{userId,jdbcType=INTEGER},</if>
            <if test=" itemNo!= null">#{itemNo,jdbcType=VARCHAR},</if>
            <if test=" mainCode!= null">#{mainCode,jdbcType=VARCHAR},</if>
            <if test=" other!= null">#{other,jdbcType=VARCHAR},</if>
            <if test=" putawayType!= null">#{putawayType,jdbcType=VARCHAR},</if>
            <if test=" picture!= null">#{picture,jdbcType=VARCHAR},</if>
            <if test=" classify!= null">#{classify,jdbcType=VARCHAR},</if>
            <if test=" color!= null">#{color,jdbcType=VARCHAR},</if>
            <if test=" shop!= null">#{shop,jdbcType=VARCHAR},</if>
            <if test=" model!= null">#{model,jdbcType=VARCHAR},</if>
            <if test=" sellPrice!= null">#{sellPrice,jdbcType=DECIMAL},</if>
            <if test=" productSize!= null">#{product_size,jdbcType=VARCHAR},</if>
            <if test=" barcodeOne!= null">#{barcodeOne,jdbcType=VARCHAR},</if>
            <if test=" barcodeTwo!= null">#{barcodeTwo,jdbcType=VARCHAR},</if>
            <if test=" barcodeThree!= null">#{barcodeThree,jdbcType=VARCHAR},</if>
            <if test=" barcodeFour!= null">#{barcodeFour,jdbcType=VARCHAR},</if>
            <if test=" barcodeFive!= null">#{barcodeFive,jdbcType=VARCHAR},</if>
            <if test=" link!= null">#{link,jdbcType=VARCHAR},</if>
            <if test=" remark!= null">#{remark,jdbcType=VARCHAR},</if>
            <if test=" sameLink!= null">#{sameLink,jdbcType=VARCHAR},</if>
            <if test=" creater!= null">#{creater,jdbcType=VARCHAR},</if>
            <if test=" updater!= null">#{updater,jdbcType=VARCHAR},</if>
            now(),
            now()
        </trim>
    </insert>
    <!--公共根据主键删除数据 -->
    <delete id="removeById" parameterType="java.lang.String">
       delete from
		new_product_base where id = #{id,jdbcType=INTEGER}
	</delete>
    <!--公共更新单条记录 -->
    <update id="update" parameterType="com.platform.entity.NewProductBase">
        update new_product_base
        <set>
            <if test=" userId!= null">#{userId,jdbcType=INTEGER},</if>
            <if test=" itemNo!= null">#{itemNo,jdbcType=VARCHAR},</if>
            <if test=" mainCode!= null">#{mainCode,jdbcType=VARCHAR},</if>
            <if test=" other!= null">#{other,jdbcType=VARCHAR},</if>
            <if test=" putawayType!= null">#{putawayType,jdbcType=VARCHAR},</if>
            <if test=" picture!= null">#{picture,jdbcType=VARCHAR},</if>
            <if test=" classify!= null">#{classify,jdbcType=VARCHAR},</if>
            <if test=" color!= null">#{color,jdbcType=VARCHAR},</if>
            <if test=" shop!= null">#{shop,jdbcType=VARCHAR},</if>
            <if test=" model!= null">#{model,jdbcType=VARCHAR},</if>
            <if test=" sellPrice!= null">#{sellPrice,jdbcType=DECIMAL},</if>
            <if test=" size!= null">#{product_size,jdbcType=VARCHAR},</if>
            <if test=" barcodeOne!= null">#{barcodeOne,jdbcType=VARCHAR},</if>
            <if test=" barcodeTwo!= null">#{barcodeTwo,jdbcType=VARCHAR},</if>
            <if test=" barcodeThree!= null">#{barcodeThree,jdbcType=VARCHAR},</if>
            <if test=" barcodeFour!= null">#{barcodeFour,jdbcType=VARCHAR},</if>
            <if test=" barcodeFive!= null">#{barcodeFive,jdbcType=VARCHAR},</if>
            <if test=" link!= null">#{link,jdbcType=VARCHAR},</if>
            <if test=" remark!= null">#{remark,jdbcType=VARCHAR},</if>
            <if test=" sameLink!= null">#{sameLink,jdbcType=VARCHAR},</if>
            <if test=" creater!= null">#{creater,jdbcType=VARCHAR},</if>
            <if test=" updater!= null">#{updater,jdbcType=VARCHAR},</if>
            update_time=now()
        </set>
        where id= #{id,jdbcType=INTEGER}
    </update>
    <!--公共方法结束 自定义方法开始 -->


    <insert id="saveOrUpdateBatch" parameterType="java.util.List">
        <!--insert into order_status_result -->
        replace into new_product_base
        (
        <include refid="Base_Column_ListOne"/>
        )
        values
        <trim suffixOverrides=",">
            <foreach collection="NewProductBaseList" separator=","
                     item="newProductBase">
                (
                #{newProductBase.userId},
                #{newProductBase.itemNo},
                #{newProductBase.mainCode},
                #{newProductBase.other},
                #{newProductBase.putawayType},
                #{newProductBase.picture},
                #{newProductBase.classify},
                #{newProductBase.color},
                #{newProductBase.shop},
                #{newProductBase.model},
                #{newProductBase.sellPrice},
                #{newProductBase.size},
                #{newProductBase.barcodeOne},
                #{newProductBase.barcodeTwo},
                #{newProductBase.barcodeThree},
                #{newProductBase.barcodeFour},
                #{newProductBase.barcodeFive},
                #{newProductBase.link},
                #{newProductBase.remark},
                #{newProductBase.sameLink},
                #{newProductBase.creater},
                #{newProductBase.updater},
                now())
            </foreach>
        </trim>
    </insert>

    <select id="listByItemNo" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from new_product_base
        where item_no in
        <foreach collection="itemNoList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--根据货号进行批量更新-->
    <update id="updateBatch" parameterType="java.util.List">
        update new_product_base
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="picture = case " suffix="end,">
                <foreach collection="newProductBaseList" item="newProductBase" index="index">
                        when item_no=#{newProductBase.itemNo} then #{newProductBase.picture}
                </foreach>
            </trim>
        </trim>
        where item_no in
        <foreach collection="newProductBaseList" index="index" item="newProductBase" separator="," open="(" close=")">
            #{newProductBase.itemNo,jdbcType=VARCHAR}
        </foreach>
    </update>
</mapper>